html{
    background-color: rgb(39, 36, 36);
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(20, 20, 19);
    display: flex;
    height: 50px;
    margin-bottom: 2em;
}

nav ul{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

nav ul li{
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 20px;
}

nav ul li a{
    position: relative;
    transition: all 200ms;
    font-size: 24px;
    color: rgb(211, 199, 199);
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

nav ul li a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(185, 182, 182);
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

nav ul li a:hover:before{
    transform: scaleX(1);
}

nav h1{
    padding: 10px 10px;
    color: rgb(185, 182, 182);
}

header h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

#h1-adelante{
    margin-top: 1em;
}

.contenido{
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
}

.contenido p{
    color:rgb(49, 49, 49);
}

.contenido-grupo{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.contenido-bloque{
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    transition: all 200ms;
}

.contenido-bloque img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.contenido-bloque:hover{
    transform: scale(1.1);
    box-shadow: 5px 1px 40px rgb(65, 64, 64);
    margin: 1em;
}

.contenido-bloque p{
    position: absolute;
    bottom: 0px;
    width: 400px;
    background-color: rgba(41, 40, 40, 0.233);
    color: rgb(241, 236, 236);
}

.contenido form{
    display: block;
    width: 300px;
    height: 250px;
    margin: auto;
    border-radius: 8px;
    background-color: rgb(170, 167, 167);
}

.contenido form input{
    display: block;
    margin: auto;
    padding: 0 20px;
}

.contenido form input[type=file]{
    padding-top: 4em;
    padding-bottom: 4em;
}


.contenido form input[type=submit]{
    margin-top: 4em;
}

.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;
}

.formulario-input{
    width: 100%;
}

/* Sacado de getcssscan // botón de amazon */
.formi input[type=submit], .contenido form input[type=submit] {
    display: block;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
}

.formi input[type=submit]:hover, .contenido form input[type=submit]:hover {
    background-color: #e5e6e6;
}

.ok{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenido-botones{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.contenido-botones button{
    width: 150px;
    height: 50px;
    background-color: rgb(20, 20, 19);
    color: rgb(211, 199, 199);
    border: none;
    font-size: 20px;
    transition: all 200ms;
    border-radius: 8px;
    margin-bottom: 2em;
}

.contenido-botones button:hover{
    background-color: rgb(27, 26, 26);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.contenido-botones button:disabled{
    opacity: .3;
    cursor: not-allowed;
}

.contenido-botones-izquierda{
    width: 50%;
    display: flex;
    justify-content: left;
}

.contenido-botones-derecha{
    width: 50%;
    display: flex;
    justify-content: right;
}

.boton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgb(20, 20, 19);
    color: rgb(211, 199, 199);
    border: none;
    font-size: 20px;
    transition: all 200ms;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2em;
}

.boton:hover{
    background-color: rgb(27, 26, 26);
    color: rgb(255, 255, 255);
    box-shadow: 5px 1px 30px rgb(54, 53, 53);
    cursor: pointer;
    opacity: .6;
}

.contenido-post img{
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.post-contenido{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post-contenido-titulo{
    display: block;
    justify-content: left;
}

.post-contenido-tags{
    display: flex;
    margin-left: 0.3em;
    gap: 1em;
}

#post-titulo{
    display: flex;
    width: 100%;
    margin-top: 0.5em;
}

#post-tag{
    background-color: red;
    width: 60px;
    display: flex;
    justify-content: center;
}

#post-id{
    color: rgb(136, 131, 131);
    margin-left: 0.3em;
    font-size: 14px;
}

#post-descripcion{
    color: rgb(214, 212, 212);
    font-weight: bold;
    margin-left: 0.2em;
    margin-top: 1em;
}

#post-comentarios-titulo{
    display: flex;
    width: 100%;
    margin-top: 1em;
}

#post-comentarios-textarea{
    width: 100%;
    height: 60px;
    resize: none;
    box-sizing: border-box;
    background-color: #191b1b;
    border: 2px solid #282b2b;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    transition: all 200ms;
}

#post-comentarios-textarea:focus{
    outline: none !important;
    border: 2px solid #464949;
    box-shadow: 5px 1px 40px rgb(56, 55, 55);
}

.contenido-subir{
    display: flex;
    width: 65%;
    background-color: rgb(24, 23, 23);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 6px;
}

.contenido-subir-preview{
    display: block;
}

.contenido-subir-preview img{
    display: block;
    max-width: 400px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-bottom: 2em;
}

.contenido-subir-preview-requisitos{
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
}

.contenido-subir-preview-requisitos-requisito{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.contenido-subir-preview-requisitos-requisito p{
    color: rgb(255, 255, 255);
}

/* Alinear los requisitos de forma igualitaria
Queda muy raro que no estén juntos, pero bueno */

.requisito1, .requisito2, .requisito3{
    display: block;
    background-color: rgb(170, 175, 172);
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    border-radius: 50px;
}

.requisito3{
    margin-bottom: 2em;
}

.contenido-subir-divisores{
    display: block;
    width: 50%;
}

/**/

.contenido-subir-divisores{
    margin-top: 15px;
}

.contenido-subir-formulario{
    display: block;
    width: 100%;
    height: 100%;
}

.contenido-subir-formulario form{
    display: block;
    width: 100%;
    height: 100%;
}

.contenido-subir-formulario form input{
    display: block;
}

.contenido-subir-formulario form input[type=file]{
    margin-top: 4em;
}

.contenido-subir-formulario form input[type=submit]{
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgb(20, 20, 19);
    color: rgb(211, 199, 199);
    border: none;
    font-size: 20px;
    transition: all 200ms;
    border-radius: 8px;
    margin-top: 12em;
    margin-left: auto;
    margin-right: auto;
}

.contenido-subir-formulario form input[type=submit]:hover{
    background-color: rgb(27, 26, 26);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.contenido-subir-formulario form input[type=submit]:disabled{
    opacity: .3;
    cursor: not-allowed;
}

.contenido-subir-formulario-fila1{
    display: flex;
    margin-top: 1em;
    gap: 5em;
}

.contenido-subir-formulario-fila1-input{
    display: block;
}

.contenido-subir-formulario-fila1-input p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
